:root {
    --first-color: #f8b195;
    --second-color: #f67280;
    --third-color: #c06c84;
    --fourth-color: #6c5b7b;
    --fifth-color: #355c7d;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    color:  var(--third-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  /* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--first-color);
}

header a {
  text-decoration: none;
  color: var(--first-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
/* HEADER / NAVBAR STYLES END */
/* FOOTER STYLES START */
footer {
  background: var(--third-color);
  padding: 20px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: var(--fourth-color);
  font-size: 20px;
  margin: 0;
}
/* END FOOTER STYLES */
/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

.title{
  text-align: right;
  width: 20%;
  border-right:3px solid;
  border-color: var(--third-color);
  flex-wrap: wrap;
  padding-right: 15px;
  font-size: 15px;
  float:left;
}
/* HERO STYLES START */
.hero {
background-image: url(../images/hero.jpg);
background-size: cover;
height: 200px;
position: relative;
}
.description {
  background-color: var(--first-color);
  display: inline-block;
  padding: 20px;
  width: auto;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
/* HERO STYLE END */
/* ABOUT ME SECTION START */
.intro{
  width:100;
  margin: 0 auto 30px auto;
  overflow: auto;
  align-items: center;
}
.intro img {
  width: 20%;
  float:left;
}
.about-me-bio {
  padding: 33px;
  float:left;
  width:60%;
}
/* ABOUT ME SECTION END */
/* WORK STYLE START */
.works-info{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 10px;
}
.works h3 {
  font-size: 35px;
}
.works h4 {
  font-size: 20px;
}
.works a{
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color:var(--first-color);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.run-buddy {
  background-image: url(../images/runbuddy.JPG);
  background-size: cover;
  width: 100%;
  height: 40px;
  padding: 5%;
  display: block;
}
.coming-soon {
  background-color: var(--fifth-color);
  display: block;
  width:40%;
  height: 20px;
  padding: 5% 5% 20% 5%;
}
.robot-gladiators{
  background-image: url(../images/robot.jpg);
  background-size: cover;
  width:40%;
  height: 20px;
  padding: 5% 5% 20% 5%;
  display: block;
}
.contact-type{
  display: flex;
  justify-content: space-around;
}
.contact-type a {
  text-decoration: none;
  color: var(--first-color)
}